/*
Theme Name: WpRentals Child theme Old
Theme URI: http://themeforest.net/user/wpestate
Description: Ultimate WordPress Theme created by WpEstate for accommodation booking. WpRentals is clean, flexible, fully responsive and retina Ready. Its smart settings allow you to build outstanding renting websites easily and fast.
Version: 2.7
Author: wpestate.org
Author URI: http://themeforest.net/user/annapx
Tags: white, one-column, two-columns,left-sidebar, right-sidebar, fluid-layout , custom-menu, theme-options, translation-ready
License: GNU General Public License v2.0
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Template: wprentals

-------------------------------------------------------------- */

.spinner-wrapper {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.4);
    z-index: 99999;
}

.spinner {
    position:fixed;
    top: 50%;
    left: 50%;
}

.spinner > div {
    width: 18px;
    height: 18px;
    background-color: #333;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% {
          -webkit-transform: scale(1.0);
          transform: scale(1.0);
      }
}

/* TOP BAR */
.wpml-ls-legacy-list-horizontal {
    padding: 0;
}

.top_bar_wrapper .top_bar a {
    padding: 5px 10px;
}

/* Menu */
@media only screen and (min-width: 1180px){
    .header_wrapper.header_type1.header_align_left #access, .is_half_map.header_wrapper.header_type1.header_align_left #access {
        margin: 0px 0px 0px 340px;
    }
}

.subfooter_menu {
    display: none;
}

/* Dashboard Recurring payment */
#pack_recuring {
    display: none;
}

[for="pack_recurring"] {
    display: none!important;
}

/*  Dashboard Add Listing */
.next_submit_page {
    display: inline-block;
    padding: 11px 30px;
    background-color: #91d7f2!important;
    border-radius: 2px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
}

.next_submit_page:hover {
    background-color: #f2955e!important;
    color: white !important;
}

/* Dashboard My reservation */

.page-template-user_dashboard_my_reservations .book_listing_user_unit_guests, .page-template-user_dashboard_my_reservations .invoice_date_guests_wrapper {
    display: none;
}

/* Dashboard My Booking */
.page-template-user_dashboard_my_bookings .book_listing_user_guest_details, .page-template-user_dashboard_my_bookings .invoice_date_guest_wrapper {
    display: none;
}


/* Page View */
.custom_prop_header img {
    display: none;
}

#booking_guest_no {
    display: none;
}

.custom_prop_header:not(:last-child):after {
    content: '|';
    position: relative;
    left: 1em;
}

.listing_detail {
    min-width: 250px;
}

/* Calendar */
.booking-calendar-wrapper-in .calendar-reserved.start_reservation {
    background: linear-gradient(135deg, #edf6f6 0%,#edf6f6 50%,#f15142 51%,#f15142 100%) !important;
}

.booking-calendar-wrapper-in .end_reservation {
    background: linear-gradient(135deg, #f15142 0%,#f15142 49%,#edf6f6 50%,#edf6f6 100%) !important;
}

.user_dashboard_panel .calendar-reserved {
    background-color: #f15142 !important;
}

.booking-calendar .calendar-reserved.has_future {
    background-color: #f15142 !important;
}

.calendar-legend .calendar-legend-reserved, .calendar-actions .calendar-legend-reserved {
    background-color: #f15142 !important;
}
.booking-calendar-wrapper-in .has_future:hover {
    background-color: #91d7f2 !important;
}

.all-front-calendars .calendar-reserved.start_reservation {
    background: linear-gradient(135deg, #edf6f6 0%,#edf6f6 50%,#f15142 51%,#f15142 100%) !important;
}

.all-front-calendars .calendar-reserved.end_reservation, .all-front-calendars .end_reservation {
    background: linear-gradient(135deg, #f15142 0%,#f15142 49%,#edf6f6 50%,#edf6f6 100%) !important;
}

.booking-calendar .rentals_reservation {
    background-color: #484848;
}

.daterangepicker .wpestate_booking_class.off.disabled.calendar-reserved {
    background-color: #f15142 !important;
}

.daterangepicker .wpestate_calendar.start_reservation, .daterangepicker .wpestate_booking_class.start_reservation {
    background: linear-gradient(135deg, #ffffff 0%,#ffffff 50%,#f15142 51%,#f15142 100%) !important;
}
.daterangepicker .wpestate_calendar.end_reservation, .daterangepicker .wpestate_booking_class.end_reservation {
    background: linear-gradient(135deg, #f15142 0%, #f15142 49%,#ffffff 50%,#ffffff 100%);
}

/* Search */
.advanced_search_form_wrapper .map_icon {
    display: none;
}

.Where_do_you_want_to_go {
    display: none;
}

.heading_over_image, .heading_over_video {
    font-size: 36px;
    text-shadow: 1px 1px 3px rgb(68 68 68 / 100%)
}

.subheading_over_image {
    text-shadow: 1px 1px 3px rgb(68 68 68 / 100%)
}

.page-template-default .content_wrapper {
    padding-bottom: 0;
}

.page-template-default .single-content {
    margin-bottom: 0;
}

/* Abonnement */
.user_dashboard_panel.pack_unit_list {
    min-width: 320px;
}

/* Gabick Copyright */
#gabick-copyright .mark {
    background: transparent;
}

#footer-copyright {
    font-size: 14px !important;
}

.page-template-user_dashboard_add_step1 .top_bar_wrapper, .page-template-user_dashboard_edit_listing .top_bar_wrapper  {
    display: none;
}

/* Invoices */

.invoice_data .show_invoice_guests {
    display: none;
}

/* Bouton */

.contact_owner_reservation, .proceed-payment_full, #post_review, .proceed-payment, .tag-post-review, .tag-published, .tag-paid {
    background-color: #f79468;
}

.tag-published.confirmed_label {
    background-color: transparent;
    color: black;
    cursor: default;
}

.contact_owner_reservation:hover, .proceed-payment_full:hover, #post_review:hover, .proceed-payment:hover, .tag-post-review:hover, .tag-published:hover, .tag-paid:hover {
    background-color: #f29b75;
}

.tag-published.confirmed_label:hover {
    background-color: transparent;
    color: black;
    cursor: default;
}

.starselected {
    color: #f79468;
}

.pack-info .normal_list_no:nth-child(n+3) {
    display: none;
}

.pack_unit_list .pack-listing-period:nth-child(4) {
    display: none;
}

.dashboard-subscription-custom-message {
    background: #91d7f2;
    color: #fff;
    font-size: 12px;
    padding: 5px 10px;
    max-width: 600px;
    margin: 1em;
}

.dashboard-subscription-custom-message a {
    color: white;
}

.dashboard-subscription-custom-message a:hover {
    color: white;
    text-decoration: underline;
}

.dashboard-subscription-custom-message.warning {
    background: #f9966b;
}

.login-links {
    background-color: transparent !important;
}

#forgot_pass_widget_mobile {
    display: block;
}

.is_half_map #colophon {
	display: none;
}

.menu_username {
	color: #fff !important;
}

.vc_btn3-color-btn-custom-brand {
	background-color: #b76d00 !important;
	border-color: #b76d00 !important;
	color: #fff !important;
}

.vc_btn3-color-btn-custom-brand:hover, .vc_btn3-color-btn-custom-brand:focus  {
	background-color: #896532 !important;
	border-color: #896532 !important;
	color: #fff !important;
}

.btn-custom-brand.dropdown {
	background-color: #b76d00 !important;
}

.property_listing .carousel-inner > .item > a > img {
	height: 300px;
}

.invoice_total_generate_invoice {
	display: none;
}
